include LICENSE.txt
include MANIFEST.in
include README.md
include MarkerMAG/VERSION
include MarkerMAG/SILVA_16S_order.fasta
include MarkerMAG/vxtractor/gpl.txt
include MarkerMAG/vxtractor/README.txt
include MarkerMAG/vxtractor/vxtractor.pl
include MarkerMAG/vxtractor/readmefungiLSU.txt
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V1rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V2rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V3rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V4rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V5rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V6rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V7rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V8rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_archaea/V9rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V1rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V2rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V3rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V4rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V5rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V6rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V7rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V8rightshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9leftlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9leftlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9leftlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9leftlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9leftlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9leftshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9leftshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9leftshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9leftshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9leftshort.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9rightlong.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9rightlong.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9rightlong.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9rightlong.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9rightlong.HMM.h3p
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9rightshort.HMM
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9rightshort.HMM.h3f
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9rightshort.HMM.h3i
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9rightshort.HMM.h3m
include MarkerMAG/vxtractor/HMMs/SSU_bacteria/V9rightshort.HMM.h3p
